<div class="post-preview">
  <%= link_to post_path(id: post.id) do %>
        <h2 class="post-title">
            <%= post.title %>
        </h2>
        <h3 class="post-subtitle">
            <%= post.body.truncate(60) %>
        </h3>
    <% end %>
    <p class="post-meta">Posted by <%= link_to post.author.name, author_path(id: post.author.id) %> on <%= post.created_at.strftime("%B %e, %Y") %></p>
</div>
<hr>
