<div class="post-preview">
  <%= link_to post_path(id: @post.id) do %>
        <h2 class="post-title">
            <%= @post.title %>
        </h2>
    <% end %>
    <p class="post-meta">Posted by <a href="#"><%= @post.author.name %></a> on <%= @post.created_at.strftime("%B %e, %Y") %></p>
</div>

<%= simple_format(@post.body) %>
