<% if @post.errors.any? %>
  <ul>
    <% @post.errors.full_messages.each do |err| %>
      <li>
        <%= err %>
      </li>
    <% end %>
  </ul>
<% end %>

<%= form_for @post do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :summary %>
    <%= f.text_field :summary %>
  </div>
  <div>
    <%= f.label :body %>
    <%= f.text_area :body, rows: 20 %>
  </div>
  <div>
    <%= f.label :author %>
    <%= f.text_field :author %>
  </div>
  <%= f.submit %>
<% end %>
